.set-layout{
	margin: auto;
}


.tb-layout{
	width : 70%;
	border:1px black solid;
}

.preview-logo{
	width: 200px;
	height:30px;
	background:#ddd;
}

.set-layout-top{
	margin:10px;
	padding: 10px;
}



