.set-layout{
	margin: auto;
}


.tb-layout{
	width : 70%;
	margin:auto;
	text-align:left;
	border:1px black solid;
}
.tb-layout td{
	padding: 5px;
}

.preview-logo{
	width: 200px;
	height:50px;
	background:#ddd;
}

.preview-layout{
	width: 600px;
	height:400px;
	background:#ddd;
}

.set-layout-top{
	margin:10px;
	padding: 10px;
	text-align: center;
}

.set-layout-side .set-layout-center{
	margin:auto;
	text-align: center;	
}






/* ////////////////////////////////////// */
.menu-control{
	background:#bbb;
	width:100px;
}

.menu-set-control {
	background : #efefef;
	bottom : 0;
	display : none;
	left : 0;
	padding : 10px;
	position : fixed;
	text-align : center;
	width : 100%;
	height : 120px;
	z-index : 10;
}

.preview_layout_btn {
	/* bottom : 0;
	z-index : 100; */
	position:fixed;
	background:#ddd; 
	text-align : right;
	z-index:-1;
}
    
/* .preview_layout_btn {
	margin-bottom : 20px;
	padding : 5px;
} */









/* //////////// 메뉴형로그인 ////////////  */
.login-menu-gray{
	height: 80px;
	background: #ccc;
	
}

.login-menu{
	height: 80px;
	/* background: #fff; */
}

.login-menu-gray:hover, .login-menu:hover{
	background: #326EA6;
	
}