*{
	margin:0;
	padding:0;
	
}

/* ul li{
	list-style:none;
	
	line-height:50px;
}

input[type=button],input[type=submit],button{
	color:#000088;
	font-weight:bold;
	width:100px;
	height:35px;
	background:#eeeeff;
}
article{
	width:80%;
	margin:0 auto;
} */


.no-uline {
	text-decoration:none;
	text-decoration:none !important;
}

.text-indentation{
margin-left:2em;
}


.def-input-text-lg{
	width:180px;
	height:20px;
}

.def-input-text-md{
	width:100px;
	height:20px;
}

.def-input-text-sm{
	width:50px;
	height:20px;
}

.combobox-sm{
	width:50px;
	height:20px;
}







