* {
	margin: 0;
	padding: 0;
}

.no-uline {
	text-decoration: none;
	text-decoration: none !important;
}

.non-disp {
	display: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.margin-auto {
	margin: auto;
}

.text-indentation {
	margin-left: 2em;
}

.def-input-text-lg {
	width: 180px;
	height: 20px;
}

.def-input-text-md {
	width: 100px;
	height: 20px;
}

.def-input-text-sm {
	width: 50px;
	height: 20px;
}

.def-btn {
	
}

.def-table {
	margin: 5px;
	width: 98%;
	height: 98%;
	/* border:1px solid #000; */
}

.def-table td {
	padding: 5px;
}

.tb-border td {
	border: 1px solid #555 !important;
}

.combobox-sm {
	width: 50px;
	height: 25px;
}

.combobox-md {
	width: 100px;
	height: 25px;
}

.combobox-lg {
	width: 150px;
	height: 25px;
}

/* ///// 관리자페이지 드롭다운 ///// */
.admin-dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	width: 160px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.admin-dropdown {
	position: relative;
	display: inline-block;
}

.admin-dropdown-content {
	display: none;
	position: absolute;
	top: 0px;
	left: 160px;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.admin-dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.admin-dropdown-content a:hover {
	background-color: #f1f1f1
}

.admin-dropdown:hover .admin-dropdown-content {
	display: block;
}

.admin-dropdown:hover .admin-dropbtn {
	background-color: #3e8e41;
}
/* /////////////////////////////////////////// */