*{
	margin:0;
	padding:0;
	
}

.no-uline {
	text-decoration:none;
	text-decoration:none !important;
}

.float-left{
float:left;
}

.float-right{
float:right;
}

.text-indentation{
margin-left:2em;
}


.def-input-text-lg{
	width:180px;
	height:20px;
}

.def-input-text-md{
	width:100px;
	height:20px;
}

.def-input-text-sm{
	width:50px;
	height:20px;
}

.def-btn{
	
}

.def-table{
	margin:5px;
	width:98%;
	height:98%;
	border:1px solid #000;
}
/* .def-table>tr{
	border:1px solid #000;
} */
.def-table>td{
	padding:5px;
	/* border:1px solid #000; */
}

.combobox-sm{
	width:50px;
	height:20px;
}







