/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 100%; /* 중앙 높이 */
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1; /* 좌측 메뉴 바탕 */
	height: 100%;
}

/* Set black background color, white text and some padding */
.footer {
	background-color: #555; /* Footer 바탕 */
	color: white;
	padding: 15px;
	
}

/* 적용 되게 고쳐야함 */
/* .container-fluid .top-menu{
	
} */



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

#topnav {
	background-color: white;
	height: 65px;
}

#secondnav {
	background-color: #363636;
	height: 50px;
}

#toptable {
	width: 100%
}

.dropdown{
 display:inline;
  position: relative;
  display: inline-block;
}


 #topnav-table{
 display:inline;
} 

#logo{
width: 150px;
margin-top: 10px
}

#category{
margin-left: 230px;
margin-top: 15px;
}

/* .navbar-left > li > a:hover, .navbar-left > li > a:focus {
    background-color: #339955;
    color: #336799;
}  */



.custom-col-sm-2, .custom-col-sm-4 .custom-col-sm-6 .custom-col-sm-8 .custom-col-sm-10-top .custom-col-sm-10{
position:relative;
min-height:1px;
margin:0px;
padding-right:5px;
padding-left:5px;
float:left;
display: table-cell;

}

.custom-col-sm-8{
width:86%;
height:750px; /* 추후 없애는 걸로 */
background:#EFF7F7; /* 색상:중앙 바디 영역 */
padding : 10px;
float:right;
}

.custom-col-sm-2{
width: 13%;
background:#fff; /* 색상:좌측 메뉴 영역 */
float : left;
padding : 10px;
}

.custom-col-sm-6{
width:80%;
height:750px; /* 추후 없애는 걸로 */
background:#EFF7F7; /* 색상:중앙 바디 영역 */
padding : 10px;
float:right;
}

.custom-col-sm-4{
width: 19%;
background:#fff; /* 색상:좌측 메뉴 영역 */
float : left;
padding : 10px;
}



.custom-col-sm-10-top{
width:100%;
height:865px; /* 추후 없애는 걸로 */
background:#EFF7F7; /* 색상:중앙 바디 영역 */
padding : 10px;
}

.custom-col-sm-10{
width:100%;
height:750px; /* 추후 없애는 걸로 */
background:#fff; /* 색상:중앙 바디 영역 */
padding : 10px;
}



/* //////////////////////////////////// */
.top-navbar-inverse {
	/* background-color: #222; */
	border-color: #fff;
}


.custom-navbar-inverse {
	background-color: #063F78;	/* 색상:상단 메뉴 영역 */
	border-color: #063F78;
}

/* .custom-navbar-inverse .navbar-nav>li>a {
	color: #0D3FA5;
} */

/* .custom-navbar-inverse .navbar-nav>li>a:focus, .custom-navbar-inverse .navbar-nav>li>a:hover
	{
	color: #fff;
	background-color: transparent
} */

/* .custom-navbar-inverse .navbar-nav>.active>a, .custom-navbar-inverse .navbar-nav>.active>a:focus,
	.custom-navbar-inverse .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #24A6BD;
} */

/* .custom-navbar-inverse .navbar-nav>.disabled>a, .custom-navbar-inverse .navbar-nav>.disabled>a:focus,
	.custom-navbar-inverse .navbar-nav>.disabled>a:hover {
	color: #444;
	background-color: transparent
} */

/* .custom-navbar-inverse .navbar-nav>.open>a, .custom-navbar-inverse .navbar-nav>.open>a:focus,
	.custom-navbar-inverse .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: #008299;
} */


/* //////////////////////////////////// */
.menu-dropbtn {
    background-color: #063F78;	/* 색상:상단 드롭다운 버튼 */
    padding: 16px;
    width:120px;
    height:50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.menu-dropbtn  a{
    color: #fff !important;	/* 메인 메뉴 글자 색상 */
    font-weight: 900;
}

.menu-dropdown a:hover{
	text-decoration:none;
	color:#555;	/* 색상: 상단 hover 텍스트 */
	text-decoration: none;
}

.menu-dropdown a:mouseup{
	text-decoration: none;
}


.menu-dropdown {
    position: relative;
    display: inline-block;
    text-decoration:none !important;
}

.menu-dropdown-content {
	margin-top:1px;
    display: none;
    position: absolute;
    left:0px; 
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
}

.menu-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-dropdown-content a:hover {
	background-color : #D8E7F6;;
}	/* 색상:상단 드롭다운 서브 hover */

.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}

.menu-dropdown:hover .menu-dropbtn {
   background-color: #326EA6;	/* 색상:상단 드롭다운 hover */
}



